.dashboard-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2.5vh;
}
.side-nav-menu {
  display: none;
}

@media screen and (max-width: 480px) {
  .side-nav-menu {
    display: flex;
    margin: 5%;
    position: fixed;
    left: 0;
    top: 0;
    cursor: pointer;
  }
}
