.gallery-container {
  width: 80vw;
  display: inline-flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  justify-content: space-evenly;
  flex-direction: column;
  padding-right: 15%;
}

.topic-image {
  margin-right: 2.5%;
  cursor: pointer;
}

.gallery-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: fit-content;
  margin: 2%;
}

.spinner {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

@media screen and (max-width: 480px) {
  .spinner {
    position: fixed;
    transform: none;
    top: 0;
    margin-top: 50vh;
    height: 5% !important;
    width: 5% !important;
  }
  .gallery-container {
    padding: 0;
    width: 100vw;
  }
  .gallery-row {
    flex-direction: column;
  }
  .topic-image {
    margin-bottom: 5%;
  }
}
